*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, ol, li{
    list-style: none;
}
a{
    text-decoration: none;
}
body{

  font-family: "Inter", sans-serif;
}
.container{
    width: 75%;
    max-width: 1346px;
    margin: 0 auto;
}
.primary-btn{
     color:#FFFFFF;
    font-weight:600 ;
    font-size: 16px;
    padding: 13px 16px;
    border: none;
    background-color: #469165;
    border-radius: 4px;
    cursor: pointer;
 border: 1px solid #469165 ;
    transition: .5s;
}
.btn {
      color:#FFFFFF;
    font-weight:600 ;
    font-size: 16px;
    padding: 13px 16px;
    border: none;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #FFFFFF ;
}
.primary-btn:hover{
 color: #469165; 
 background-color: #fff;
 border: 1px solid #469165 ;
}

/* ---------------------------- NAVBAR SECTION START */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0;
}
.navbar .logo{
max-width: 139px;
}
.manu ul{
    display: flex;
    gap: 32px;
}
.manu ul li a{
    color:#000000;
    font-weight:500 ;
    font-size: 16px;
}
.head-tittle{
    color: #001931;
    font-weight: bold;
    font-size: 48px;
    text-align: center;
}
.head-pragraph{
    color: #627382;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

/* ---------------------------- NAVBAR SECTION END */


/* -----------------------------BANNER SECTION START */
#banner{
    background-image: url(./assets/hero-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 674px;
}
#banner .container {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 100vh;
text-align:center;
}
#banner .banner a{
    background-color: #fff;
    padding: 8px 12px;
    display: inline-block;
    border-radius: 100px;
    color:#469165 ;
    font-weight: 500;
    font-size:16px ;
}
#banner .banner a img{
    margin-right: 3px;
    width: 16px;
   vertical-align: middle;
}
#banner .banner h1{
    color:#FFFFFF ;
    font-weight: bold;
    padding: 16px 0;
    text-transform: capitalize;
}
#banner .banner h1 span{
        color:#30B868;

}
#banner .banner p{
    color:#FFFFFF ;
    font-weight: 400;
    padding: 0 185px;
    font-size: 18px;
}
.link-btn{
    text-align: center;
    margin-top: 32px;
}
#banner .primary-btn  {
    display: flex;  
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
}
#banner .primary-btn img,
.btn img{
    vertical-align: middle;
}
#banner .primary-btn:hover{
     color:#FFFFFF;
    font-weight:600 ;
    font-size: 16px;
    padding: 13px 16px;
    border: none;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #FFFFFF ;
}
/* -----------------------------BANNER SECTION END */

/* -------------------structure section start------------------- */
#structure{
    margin-top: 44px;
}
#structure .notes-contant{
    display: flex;
    gap: 24px;
}
#structure .head-pragraph{
    padding: 16px 0 44px 0;
}
#structure .notes-box{
max-width: 322px;
text-align: center;
padding: 70px 24px 22px 24px;
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


#structure .notes-box .img{
    width:60px ;
    height: 60px;
    background-color: red;
    border-radius: 50%;
    text-align: center;
    line-height: 80px;
    margin: 0 auto;
}
#structure .notes-box h4{
    color: #001931;
    font-weight:600;
    font-size: 22px;
    padding: 16px 0;
}
#structure .notes-box p{
    color: #627382;
    font-weight:400;
    font-size:16px;
}
/*------------------- structure section end------------------- */


/* -----------------SOLUTION SECTION START------- */
#solution {
    margin: 102px 0;
}
#solution .solution{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

#solution .solution-img img{
    max-width: 500px;

}

#solution .solution-content h5{
    color:#469165 ;
    font-weight:500 ;
    font-size: 16px;
    padding-bottom: 16px;
}
#solution .solution-content h2{
    color:#001931 ;
    font-weight:bold ;
    font-size: 48px;
    padding-bottom: 16px;
}
#solution .solution-content h5{
    color:#469165 ;
    font-weight:500 ;
    font-size: 16px;
    padding-bottom: 16px;
}
#solution .solution-content p{
    color:#627382 ;
    font-weight:400 ;
    font-size: 16px;
    padding-bottom: 40px;
}
#solution .cheack-mark{
    display: flex;
    padding-bottom: 16px;
    gap: 6px;
}
#solution .cheack-mark span{
    color:#001931 ;
    font-size:16px ;
    font-weight:500 ;
}
/* -----------------SOLUTION SECTION END------- */